<footer>
    <p class="main-text">Developed by <a href="https://gonzz.dev" target="_blank" rel="no-referrer">José Gonzz</a></p>
    <a href="">
        <img src="/images/gonzzpixel-face.svg" alt="Pixel art profile picture" class="pixel-me" />
    </a>
</footer>
