<div class="header">
    <a href="#" class="logo">
        <h4>DesigNerd</h4>
    </a>

    <a href="https://gonzz.dev" target="_blank" rel="no referrer" class="button">Hello there :)</a>
</div>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        padding: 24px 100px 24px 100px;
        margin-bottom: 96px;
    }

    .logo {
        color: var(--shades-white);
        text-decoration: none:
        transition: 200ms;
    }

    .logo:hover {
        translate: 0 -2px;
    }
    
    .button {
        font-family: var(--font-primary);
        font-size: 16px;
        color: var(--shades-white);
        text-decoration: none;
        transition: 200ms;
    }

    .button:hover {
        color: var(--primary-500);
    }
</style>